$clr-body: hsl(0, 0%, 98%);
$clr-white: hsl(0, 0%, 100%);
$clr-primary: hsl(148, 71%, 44%);
$clr-primary-light: hsl(149, 50%, 54%);
$clr-primary-dark: hsl(149, 45%, 38%);
$clr-blue: hsl(208, 89%, 46%);
$clr-blue-light: hsl(206, 33%, 96%);
$clr-blue-dark: hsl(210, 38%, 47%);
$clr-grey: hsl(206, 6%, 75%);
$clr-dark-grey: hsl(0, 0%, 30%);
$clr-grey-95: hsl(0, 0%, 95%);
$clr-grey-90: hsl(0, 0%, 90%);
$clr-grey-80: hsl(0, 0%, 80%);
$clr-grey-70: hsl(0, 0%, 70%);
$clr-grey-60: hsl(0, 0%, 60%);
$clr-red: hsl(3, 100%, 40%);
$clr-green: hsl(106, 44%, 49%);
$clr-shadow: hsla(0, 0%, 11%, 0.08);

$font-primary: 'Roboto', sans-serif;
$font-title: 'Ubuntu', sans-serif;
$font-sub-title: 'Josefin Sans', sans-serif;

$nav-height: 7rem;
